In [ ]:
df = pd.read_csv('Sim_SingleLane.csv', sep=';')

In [ ]:
df.head()

In [ ]:
df.vehicle_id

In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('Sim_SingleLane.csv', sep=';')

In [5]:
df.head()

,timestep_time,vehicle_angle,vehicle_id,vehicle_lane,vehicle_pos,vehicle_slope,vehicle_speed,vehicle_type,vehicle_x,vehicle_y
0,0.0,270.01,flow_1.0,E0_0,5.10,0.0,0.00,DEFAULT_VEHTYPE,115.48,52.81
1,1.0,270.01,flow_1.0,E0_0,6.54,0.0,1.44,DEFAULT_VEHTYPE,114.04,52.81
2,2.0,270.01,flow_1.0,E0_0,9.66,0.0,3.12,DEFAULT_VEHTYPE,110.92,52.81
3,3.0,270.01,flow_0.0,E0_0,5.10,0.0,0.00,DEFAULT_VEHTYPE,115.48,52.81
4,3.0,270.01,flow_1.0,E0_0,15.31,0.0,5.66,DEFAULT_VEHTYPE,105.27,52.81

In [6]:
df.vehicle_id

0           flow_1.0
1           flow_1.0
2           flow_1.0
3           flow_0.0
4           flow_1.0
             ...
225035    flow_1.604
225036    flow_1.605
225037    flow_1.606
225038    flow_1.607
225039    flow_1.608
Name: vehicle_id, Length: 225040, dtype: object

In [7]:
df.vehicle_id.value_counts()

flow_1.556    244
flow_0.530    243
flow_0.531    242
flow_1.557    241
flow_0.532    240
             ...
flow_1.606     15
flow_0.584     12
flow_1.607      9
flow_0.585      6
flow_1.608      3
Name: vehicle_id, Length: 1195, dtype: int64

In [8]:
df['vehicle_id'].value_counts()

flow_1.556    244
flow_0.530    243
flow_0.531    242
flow_1.557    241
flow_0.532    240
             ...
flow_1.606     15
flow_0.584     12
flow_1.607      9
flow_0.585      6
flow_1.608      3
Name: vehicle_id, Length: 1195, dtype: int64