In [2]:
import os
import pandas as pd

In [3]:
WORKING_DIR = os.getcwd()
BASE_DIR = os.path.dirname(WORKING_DIR)
DATA_DIR = os.path.join(BASE_DIR, 'data')
RAW_DATA_DIR = os.path.join(DATA_DIR, 'raw')
CACHE = os.path.join(DATA_DIR, 'cache')

In [4]:
dfs = []

for file in os.listdir(RAW_DATA_DIR):
    file_path = os.path.join(RAW_DATA_DIR, file)
    _ = pd.read_csv(file_path, index_col='timestep_time')
    dfs.append(_)

In [5]:
df = pd.concat(dfs)

In [19]:
df

,vehicle_0_pos,vehicle_1_pos,vehicle_10_pos,vehicle_11_pos,vehicle_12_pos,vehicle_13_pos,vehicle_14_pos,vehicle_15_pos,vehicle_16_pos,vehicle_17_pos,...,vehicle_15_speed,vehicle_16_speed,vehicle_17_speed,vehicle_19_speed,vehicle_2_speed,vehicle_4_speed,vehicle_5_speed,vehicle_6_speed,vehicle_7_speed,vehicle_8_speed
timestep_time,,,,,,,,,,,,,,,,,,,,,
54,643.23,362.75,476.04,551.59,441.71,113.18,383.10,167.00,203.39,104.06,...,4.94,6.72,3.66,10.55,11.54,6.16,6.93,4.33,5.77,0.00
55,655.90,370.55,486.83,564.90,452.88,116.03,395.42,171.63,211.02,108.27,...,4.62,7.63,4.21,10.88,12.47,4.32,6.16,5.32,6.78,1.45
56,668.23,378.11,497.09,578.71,464.19,119.14,406.73,177.03,218.35,111.52,...,5.40,7.33,3.25,10.77,11.91,3.54,6.17,4.61,7.65,2.94
57,679.96,385.32,507.35,591.86,475.16,122.11,419.15,181.79,225.11,115.34,...,4.76,6.76,3.82,10.75,12.41,3.44,7.24,4.65,6.92,5.52
58,692.82,393.16,517.24,604.84,486.88,124.68,431.39,186.27,231.74,118.68,...,4.48,6.63,3.34,10.86,12.07,3.24,6.45,4.71,7.51,7.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,18785.21,10987.21,15560.36,20080.52,16735.93,4163.02,17634.01,7581.01,10819.13,5754.26,...,4.87,7.22,3.52,10.43,12.17,9.67,6.62,5.31,7.81,7.16
1521,18797.48,10993.97,15570.24,20094.18,16747.63,4165.77,17645.92,7585.58,10826.09,5758.25,...,4.57,6.96,3.99,10.97,11.76,9.33,7.38,5.14,7.36,7.03
1522,18810.39,11001.14,15581.03,20107.73,16759.24,4168.38,17658.19,7590.28,10832.69,5762.43,...,4.70,6.60,4.18,11.26,11.54,9.55,6.38,5.37,7.80,7.72
1523,18822.92,11008.17,15591.24,20121.57,16770.22,4170.74,17670.61,7594.98,10840.15,5766.54,...,4.70,7.46,4.11,11.59,11.31,8.87,6.78,4.50,7.45,7.11
1524,18834.73,11015.41,15600.91,20134.59,16781.60,4172.85,17682.90,7599.82,10846.83,5771.03,...,4.84,6.68,4.49,10.31,12.39,8.90,6.88,5.28,7.13,7.17

In [7]:
assert df.shape[0] >= 1471, "Shape mismatch in #rows"
assert df.shape[1] == 34, "Shape mismatch in #columns"

In [8]:
positions = df.iloc[:, :17]
speeds = df.iloc[:, 17:]

In [9]:
assert positions.shape[1] == 17, "Invalid splitting"
assert speeds.shape[1] == 17, "Invalid splitting"

In [10]:
positions.head(n=3)

,vehicle_0_pos,vehicle_1_pos,vehicle_10_pos,vehicle_11_pos,vehicle_12_pos,vehicle_13_pos,vehicle_14_pos,vehicle_15_pos,vehicle_16_pos,vehicle_17_pos,vehicle_19_pos,vehicle_2_pos,vehicle_4_pos,vehicle_5_pos,vehicle_6_pos,vehicle_7_pos,vehicle_8_pos
timestep_time,,,,,,,,,,,,,,,,,
54,643.23,362.75,476.04,551.59,441.71,113.18,383.10,167.00,203.39,104.06,200.55,186.78,99.19,55.45,30.70,18.04,5.10
55,655.90,370.55,486.83,564.90,452.88,116.03,395.42,171.63,211.02,108.27,211.44,199.25,103.51,61.61,36.01,24.82,6.55
56,668.23,378.11,497.09,578.71,464.19,119.14,406.73,177.03,218.35,111.52,222.21,211.16,107.05,67.78,40.62,32.47,9.50

In [11]:
speeds.head(n=3)

,vehicle_0_speed,vehicle_1_speed,vehicle_10_speed,vehicle_11_speed,vehicle_12_speed,vehicle_13_speed,vehicle_14_speed,vehicle_15_speed,vehicle_16_speed,vehicle_17_speed,vehicle_19_speed,vehicle_2_speed,vehicle_4_speed,vehicle_5_speed,vehicle_6_speed,vehicle_7_speed,vehicle_8_speed
timestep_time,,,,,,,,,,,,,,,,,
54,12.13,6.92,9.78,13.06,11.07,3.06,12.14,4.94,6.72,3.66,10.55,11.54,6.16,6.93,4.33,5.77,0.00
55,12.66,7.80,10.79,13.31,11.16,2.85,12.32,4.62,7.63,4.21,10.88,12.47,4.32,6.16,5.32,6.78,1.45
56,12.33,7.56,10.26,13.82,11.31,3.11,11.31,5.40,7.33,3.25,10.77,11.91,3.54,6.17,4.61,7.65,2.94

# Export

In [24]:
positions_dataset = os.path.join(CACHE, 'positions.csv')
speeds_dataset = os.path.join(CACHE, 'speeds.csv')

In [25]:
positions.to_csv(positions_dataset, index=False)
speeds.to_csv(speeds_dataset, index=False)