In [2]:
import pandas as pd

In [19]:
PATH = "../data/cache/positions.csv"

In [20]:
df = pd.read_csv(PATH)

In [21]:
df

,vehicle_0_pos,vehicle_1_pos,vehicle_10_pos,vehicle_11_pos,vehicle_12_pos,vehicle_13_pos,vehicle_14_pos,vehicle_15_pos,vehicle_16_pos,vehicle_17_pos,vehicle_19_pos,vehicle_2_pos,vehicle_4_pos,vehicle_5_pos,vehicle_6_pos,vehicle_7_pos,vehicle_8_pos
0,643.23,362.75,476.04,551.59,441.71,113.18,383.10,167.00,203.39,104.06,200.55,186.78,99.19,55.45,30.70,18.04,5.10
1,655.90,370.55,486.83,564.90,452.88,116.03,395.42,171.63,211.02,108.27,211.44,199.25,103.51,61.61,36.01,24.82,6.55
2,668.23,378.11,497.09,578.71,464.19,119.14,406.73,177.03,218.35,111.52,222.21,211.16,107.05,67.78,40.62,32.47,9.50
3,679.96,385.32,507.35,591.86,475.16,122.11,419.15,181.79,225.11,115.34,232.95,223.58,110.50,75.01,45.28,39.39,15.02
4,692.82,393.16,517.24,604.84,486.88,124.68,431.39,186.27,231.74,118.68,243.81,235.65,113.74,81.46,49.98,46.90,22.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,18785.21,10987.21,15560.36,20080.52,16735.93,4163.02,17634.01,7581.01,10819.13,5754.26,16258.77,17530.55,13886.35,9958.51,6975.33,10847.61,10493.85
1467,18797.48,10993.97,15570.24,20094.18,16747.63,4165.77,17645.92,7585.58,10826.09,5758.25,16269.75,17542.32,13895.69,9965.89,6980.47,10854.97,10500.88
1468,18810.39,11001.14,15581.03,20107.73,16759.24,4168.38,17658.19,7590.28,10832.69,5762.43,16281.01,17553.85,13905.24,9972.27,6985.84,10862.77,10508.60
1469,18822.92,11008.17,15591.24,20121.57,16770.22,4170.74,17670.61,7594.98,10840.15,5766.54,16292.60,17565.16,13914.10,9979.05,6990.34,10870.22,10515.70
1470,18834.73,11015.41,15600.91,20134.59,16781.60,4172.85,17682.90,7599.82,10846.83,5771.03,16302.91,17577.55,13923.00,9985.92,6995.62,10877.35,10522.87

## Vector Normalization

In [22]:
df_to_array = df.to_numpy()

In [23]:
import numpy as np

In [24]:
norm = np.linalg.norm(df_to_array, axis=0)

In [25]:
norm

array([424271.56048106, 248001.83878252, 350928.22206075, 452339.42954709,
       376529.24637981,  93773.22681183, 395740.37301196, 170365.02520763,
       242324.78767557, 129044.80948653, 363216.94677291, 391461.27393806,
       308289.10783286, 221569.14161048, 155085.4390295 , 240920.03726575,
       232934.89092117])

In [26]:
norm.shape

(17,)

In [27]:
transformed_df = df/norm

In [28]:
transformed_df

,vehicle_0_pos,vehicle_1_pos,vehicle_10_pos,vehicle_11_pos,vehicle_12_pos,vehicle_13_pos,vehicle_14_pos,vehicle_15_pos,vehicle_16_pos,vehicle_17_pos,vehicle_19_pos,vehicle_2_pos,vehicle_4_pos,vehicle_5_pos,vehicle_6_pos,vehicle_7_pos,vehicle_8_pos
0,0.001516,0.001463,0.001357,0.001219,0.001173,0.001207,0.000968,0.000980,0.000839,0.000806,0.000552,0.000477,0.000322,0.000250,0.000198,0.000075,0.000022
1,0.001546,0.001494,0.001387,0.001249,0.001203,0.001237,0.000999,0.001007,0.000871,0.000839,0.000582,0.000509,0.000336,0.000278,0.000232,0.000103,0.000028
2,0.001575,0.001525,0.001417,0.001279,0.001233,0.001271,0.001028,0.001039,0.000901,0.000864,0.000612,0.000539,0.000347,0.000306,0.000262,0.000135,0.000041
3,0.001603,0.001554,0.001446,0.001308,0.001262,0.001302,0.001059,0.001067,0.000929,0.000894,0.000641,0.000571,0.000358,0.000339,0.000292,0.000163,0.000064
4,0.001633,0.001585,0.001474,0.001337,0.001293,0.001330,0.001090,0.001093,0.000956,0.000920,0.000671,0.000602,0.000369,0.000368,0.000322,0.000195,0.000097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,0.044276,0.044303,0.044341,0.044393,0.044448,0.044395,0.044560,0.044499,0.044647,0.044591,0.044763,0.044782,0.045043,0.044945,0.044977,0.045026,0.045051
1467,0.044305,0.044330,0.044369,0.044423,0.044479,0.044424,0.044590,0.044525,0.044676,0.044622,0.044793,0.044812,0.045074,0.044979,0.045010,0.045056,0.045081
1468,0.044336,0.044359,0.044399,0.044453,0.044510,0.044452,0.044621,0.044553,0.044703,0.044654,0.044824,0.044842,0.045105,0.045007,0.045045,0.045089,0.045114
1469,0.044365,0.044387,0.044429,0.044483,0.044539,0.044477,0.044652,0.044581,0.044734,0.044686,0.044856,0.044871,0.045133,0.045038,0.045074,0.045120,0.045144
1470,0.044393,0.044417,0.044456,0.044512,0.044569,0.044499,0.044683,0.044609,0.044762,0.044721,0.044885,0.044902,0.045162,0.045069,0.045108,0.045149,0.045175

In [13]:
norm[0]

474.85295218625316

In [14]:
df.iloc[:,0]

0       12.13
1       12.66
2       12.33
3       11.73
4       12.86
        ...
1466    12.83
1467    12.27
1468    12.91
1469    12.53
1470    11.81
Name: vehicle_0_speed, Length: 1471, dtype: float64

In [15]:
df.iloc[:,0]/norm[0]

0       0.025545
1       0.026661
2       0.025966
3       0.024702
4       0.027082
          ...
1466    0.027019
1467    0.025840
1468    0.027187
1469    0.026387
1470    0.024871
Name: vehicle_0_speed, Length: 1471, dtype: float64

## Inverse Normalization

In [16]:
# transformed = df/np.linalg.norm(df, axis=0)

In [17]:
# inverse transformation = np.linalg.norm(df, axis=0)*transformd

In [18]:
norm*transformed_df

,vehicle_0_speed,vehicle_1_speed,vehicle_10_speed,vehicle_11_speed,vehicle_12_speed,vehicle_13_speed,vehicle_14_speed,vehicle_15_speed,vehicle_16_speed,vehicle_17_speed,vehicle_19_speed,vehicle_2_speed,vehicle_4_speed,vehicle_5_speed,vehicle_6_speed,vehicle_7_speed,vehicle_8_speed
0,12.13,6.92,9.78,13.06,11.07,3.06,12.14,4.94,6.72,3.66,10.55,11.54,6.16,6.93,4.33,5.77,0.00
1,12.66,7.80,10.79,13.31,11.16,2.85,12.32,4.62,7.63,4.21,10.88,12.47,4.32,6.16,5.32,6.78,1.45
2,12.33,7.56,10.26,13.82,11.31,3.11,11.31,5.40,7.33,3.25,10.77,11.91,3.54,6.17,4.61,7.65,2.94
3,11.73,7.21,10.26,13.15,10.97,2.98,12.42,4.76,6.76,3.82,10.75,12.41,3.44,7.24,4.65,6.92,5.52
4,12.86,7.84,9.88,12.98,11.72,2.57,12.24,4.48,6.63,3.34,10.86,12.07,3.24,6.45,4.71,7.51,7.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,12.83,7.22,10.45,12.74,11.49,3.37,11.54,4.87,7.22,3.52,10.43,12.17,9.67,6.62,5.31,7.81,7.16
1467,12.27,6.76,9.88,13.66,11.70,2.75,11.91,4.57,6.96,3.99,10.97,11.76,9.33,7.38,5.14,7.36,7.03
1468,12.91,7.17,10.79,13.55,11.60,2.61,12.27,4.70,6.60,4.18,11.26,11.54,9.55,6.38,5.37,7.80,7.72
1469,12.53,7.03,10.21,13.84,10.98,2.35,12.42,4.70,7.46,4.11,11.59,11.31,8.87,6.78,4.50,7.45,7.11
1470,11.81,7.24,9.66,13.03,11.38,2.12,12.30,4.84,6.68,4.49,10.31,12.39,8.90,6.88,5.28,7.13,7.17

In [ ]:
# scaler()

# .fit(train_data)

# .transform(train_data)

# .transform(test_data)

# .inverse_transform(test_data)

In [34]:
scaler = VectorNormalizer()

In [35]:
from sklearn.preprocessing import StandardScaler

In [38]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

In [45]:
from sklearn.preprocessing import MinMaxScaler

data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler()
print(scaler.fit(data))

# print(scaler.data_max_)

print(scaler.transform(data))


# print(scaler.transform([[2, 2]]))

MinMaxScaler()
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [48]:
[]

[]

In [49]:
if []:
    print(9)

In [50]:
if not []:
    print(9)

9

In [51]:
[] == False

False

In [77]:
x = []

In [78]:
x == []

True

In [88]:
len(x)

0

In [89]:
class VectorNormalizer:
    def __init__(self):
        self.norm = []
        
    def fit(self, dataframe):
        self.norm = np.linalg.norm(dataframe, axis=0)
        return self.norm
    
    def transform(self, dataframe):
        if len(self.norm) > 0:
            return dataframe/self.norm
#         raise ValueError
    
    def inverse_transform(self, dataframe):
        if len(self.norm) > 0:
            return dataframe*self.norm

In [90]:
df = pd.read_csv(PATH)

In [91]:
train_df = df.iloc[:1200, :]
test_df = df.iloc[1200:, :]

In [104]:
train_df.tail()

,vehicle_0_pos,vehicle_1_pos,vehicle_10_pos,vehicle_11_pos,vehicle_12_pos,vehicle_13_pos,vehicle_14_pos,vehicle_15_pos,vehicle_16_pos,vehicle_17_pos,vehicle_19_pos,vehicle_2_pos,vehicle_4_pos,vehicle_5_pos,vehicle_6_pos,vehicle_7_pos,vehicle_8_pos
1195,15428.55,9022.19,12770.85,16478.66,13718.76,3416.59,14439.85,6216.60,8845.10,4715.27,13283.41,14321.60,11315.24,8127.99,5689.96,8836.81,8553.52
1196,15441.24,9029.91,12781.66,16491.98,13730.41,3419.74,14451.92,6221.48,8852.87,4719.45,13294.80,14333.23,11324.46,8134.54,5695.23,8843.55,8560.52
1197,15453.22,9036.54,12791.40,16505.27,13741.75,3422.06,14463.44,6226.04,8859.95,4723.81,13306.17,14344.86,11334.11,8141.45,5699.78,8851.25,8567.90
1198,15465.71,9043.74,12801.37,16518.36,13752.47,3425.35,14475.66,6230.90,8867.74,4728.18,13317.54,14356.42,11343.41,8148.58,5703.87,8858.30,8575.54
1199,15478.56,9051.19,12811.84,16531.90,13763.86,3427.47,14487.57,6236.51,8875.28,4732.03,13328.98,14368.84,11353.50,8154.79,5708.06,8865.96,8582.11

In [92]:
train_df.shape

(1200, 17)

In [93]:
normalizer = VectorNormalizer()

In [94]:
train_df_array = train_df.to_numpy()

In [95]:
test_df_array = test_df.to_numpy()

In [96]:
normalizer.fit(train_df_array)

array([316135.9322922 , 184680.40374578, 261187.06230276, 336388.60969634,
       279788.194333  ,  69771.84807492, 293622.06136335, 126497.23776003,
       179558.3878027 ,  95696.86018762, 268628.53530086, 289525.33201909,
       227086.02500336, 163421.8802408 , 114368.38261417, 177566.40382749,
       171543.41698859])

In [101]:
train_df_transformed = pd.DataFrame(normalizer.transform(train_df_array))

In [102]:
train_df_transformed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.002035,0.001964,0.001823,0.001640,0.001579,0.001622,0.001305,0.001320,0.001133,0.001087,0.000747,0.000645,0.000437,0.000339,0.000268,0.000102,0.000030
1,0.002075,0.002006,0.001864,0.001679,0.001619,0.001663,0.001347,0.001357,0.001175,0.001131,0.000787,0.000688,0.000456,0.000377,0.000315,0.000140,0.000038
2,0.002114,0.002047,0.001903,0.001720,0.001659,0.001708,0.001385,0.001399,0.001216,0.001165,0.000827,0.000729,0.000471,0.000415,0.000355,0.000183,0.000055
3,0.002151,0.002086,0.001942,0.001759,0.001698,0.001750,0.001428,0.001437,0.001254,0.001205,0.000867,0.000772,0.000487,0.000459,0.000396,0.000222,0.000088
4,0.002192,0.002129,0.001980,0.001798,0.001740,0.001787,0.001469,0.001473,0.001291,0.001240,0.000908,0.000814,0.000501,0.000498,0.000437,0.000264,0.000132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.048804,0.048853,0.048895,0.048987,0.049033,0.048968,0.049178,0.049144,0.049260,0.049273,0.049449,0.049466,0.049828,0.049736,0.049751,0.049766,0.049862
1196,0.048844,0.048895,0.048937,0.049027,0.049074,0.049013,0.049219,0.049183,0.049304,0.049317,0.049491,0.049506,0.049869,0.049776,0.049797,0.049804,0.049903
1197,0.048882,0.048931,0.048974,0.049066,0.049115,0.049046,0.049259,0.049219,0.049343,0.049362,0.049534,0.049546,0.049911,0.049819,0.049837,0.049848,0.049946
1198,0.048921,0.048970,0.049012,0.049105,0.049153,0.049094,0.049300,0.049257,0.049386,0.049408,0.049576,0.049586,0.049952,0.049862,0.049873,0.049887,0.049990
1199,0.048962,0.049010,0.049052,0.049145,0.049194,0.049124,0.049341,0.049302,0.049428,0.049448,0.049619,0.049629,0.049996,0.049900,0.049909,0.049930,0.050029

In [103]:
pd.DataFrame(normalizer.inverse_transform(train_df_transformed))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,643.23,362.75,476.04,551.59,441.71,113.18,383.10,167.00,203.39,104.06,200.55,186.78,99.19,55.45,30.70,18.04,5.10
1,655.90,370.55,486.83,564.90,452.88,116.03,395.42,171.63,211.02,108.27,211.44,199.25,103.51,61.61,36.01,24.82,6.55
2,668.23,378.11,497.09,578.71,464.19,119.14,406.73,177.03,218.35,111.52,222.21,211.16,107.05,67.78,40.62,32.47,9.50
3,679.96,385.32,507.35,591.86,475.16,122.11,419.15,181.79,225.11,115.34,232.95,223.58,110.50,75.01,45.28,39.39,15.02
4,692.82,393.16,517.24,604.84,486.88,124.68,431.39,186.27,231.74,118.68,243.81,235.65,113.74,81.46,49.98,46.90,22.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,15428.55,9022.19,12770.85,16478.66,13718.76,3416.59,14439.85,6216.60,8845.10,4715.27,13283.41,14321.60,11315.24,8127.99,5689.96,8836.81,8553.52
1196,15441.24,9029.91,12781.66,16491.98,13730.41,3419.74,14451.92,6221.48,8852.87,4719.45,13294.80,14333.23,11324.46,8134.54,5695.23,8843.55,8560.52
1197,15453.22,9036.54,12791.40,16505.27,13741.75,3422.06,14463.44,6226.04,8859.95,4723.81,13306.17,14344.86,11334.11,8141.45,5699.78,8851.25,8567.90
1198,15465.71,9043.74,12801.37,16518.36,13752.47,3425.35,14475.66,6230.90,8867.74,4728.18,13317.54,14356.42,11343.41,8148.58,5703.87,8858.30,8575.54
1199,15478.56,9051.19,12811.84,16531.90,13763.86,3427.47,14487.57,6236.51,8875.28,4732.03,13328.98,14368.84,11353.50,8154.79,5708.06,8865.96,8582.11